<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo&display=swap">
    <title>Contact Us</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/responsive.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js" defer></script>
  <script src="../js/main.js" defer></script>
</head>
<body>
<div class="header1">
        <div class="wrapper">
            <div class="row">
                <div class="w-2">
                    <div id="logo">
						<a href="../index.html"><img src="../images/Logo.png" alt="Logo"></a>
                    </div>
                </div>
                <div class="w-2 align-right">
                    <div id="search">
                        <div id="search-in" class="flex">
                        <input type="search" placeholder="Search">
                        <button>Submit</button>
                        </div>
                    </div>
                    <div id="menu">
                        <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="">Company Profile</a></li>
                        <li><a href="all peppers.html">Products</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">R & D</a></li>
                        <li><a href="">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
<div class="bg_grey">
    <div class="contand">
        <div id="slider-meadow">
            <img src="../images/meadow.jpg" alt="tomatoes">
        </div>
    </div>
    <div class="wrapper">
        <h1 class="text-content5">Contact us</h1>
        <p class="text-content2">×××××</p>
        
		
		
          <div id="all-peppers">
            <div class="basket-wrapper"  v-if="cartVisible">
              <div class="basket-item" v-for="item in product">
                <div class="w-4"><img v-bind:src="item.image" alt="item.title"></div>
                <div class="w-4">{{item.title}}</div>
                <div class="w-4">{{item.short_text}}</div>
                <div class="w-4" @click.prevent="removeFromCart(item.id)"><button class="btn-no-style">×</button></div>
              </div>
           </div>
			
          <form @submit.prevent="makeOrder" v-if="formVisible">
            <div class="primary">
                <div class="pillar">
                    <div class="entry-field">
						<label for="Name">Name *</label>
						<input type="text" name="Name" v-model="contactFields.name" required>
                    </div>
                    <div class="entry-field">
						<label for="Company_Name">Company Name *</label>
						<input type="text" name="Company_Name" v-model="contactFields.companyName" required>
                    </div>
                    <div class="entry-field">
						<label for="Position">Position *</label>
						<input type="text" name="Position" v-model="contactFields.position" required>
                    </div>
                    <div class="entry-field">
						<label for="City">City *</label>
						<input type="text" name="City" v-model="contactFields.city" required>
                    </div>
                    <div class="entry-field">
						<label for="Country">Country *</label>
						<input type="text" name="Country" v-model="contactFields.country" required>
                    </div>
                    <div class="entry-field">
						<label for="Telephone">Telephone *</label>
						<input type="text" name="Telephone" v-model="contactFields.telephone" required>
                    </div>
                    <div class="entry-field">
                    <label for="Email">Email *</label>
                    <input type="email" name="Email" v-model="contactFields.email" required>
                    </div>
                </div>
                <div class="pillar">
                    <div class="entry-field">
                        <label for="sel">You are a *</label>
						<select name="You_are_a" v-model="contactFields.youAre" required>
                            <option value="">None</option>
                            <option value="gardener">gardener</option>
                            <option value="farmer">farmer</option>
                            <option value="landscape designer">landscape designer</option>
							<option value="retail buyer">retail buyer</option>
                        </select>
                    </div>
                    <div class="entry-field">
						<label for="Other_specify">If other, please specify *</label>
						<input type="text" name="Other_specify" v-model="contactFields.otherSpecify" required>
                    </div>
                    <div class="entry-field">
						<label for="Interested">You are interested in *</label>
						<textarea name="Interested" cols="30" rows="16" v-model="contactFields.interested" required></textarea>
                    </div>
                    <div class="entry-field">
                        <label for="a">Please type this code</label>
                        <div class="submit-flex">
                            <img src="../images/Captcha.png" alt="captcha" class="capt">
                            <input type="text" name="capt" v-model="contactFields.capcha" required>
                            <input type="submit" value="Send Message" :disabled="formSubmitted">
                        </div>
                    </div>
                </div>
            </div>
        </form>
		
		    <div v-if="!formVisible" class="form-info">
              <p>Name: {{contactFields.name}}</p>
              <p>companyName: {{contactFields.companyName}}</p>
              <p>Position: {{contactFields.position}}</p>
              <p>City: {{contactFields.city}}</p>
              <p>Country: {{contactFields.country}}</p>
              <p>Telephone: {{contactFields.telephone}}</p>
              <p>Email: {{contactFields.email}}</p>
              <p>You are a: {{contactFields.youAre}}</p>
              <p>Other specify: {{contactFields.otherSpecify}}</p>
              <p>Interested in: {{contactFields.interested}}</p>
            </div>		
    </div>
</div>
</div>



<div class="over_footer">
        <div class="text-conten6">
				<span><b>Our Address</b></span>
				<hr class="under_adresses">
				<p class="text-conten7">AGRIDERA Seeds & Agriculture Ltd.</p>
				<p class="text-conten7">P.O Box 103,</p>
				<p class="text-conten7">Gedera 70750, Israel</p>
				<p class="text-conten7">Telephone: <a href="tel:+97289449222">+972 8 944 9222</a></p>
        </div>
</div>

<div class="footer">
  <div class="footer_content">
    <div id="links">
      <ul>
        <li><a href="">PROFILE</a></li>
        <li><a href="">MANAGEMENT</a></li>
        <li><a href="all peppers.html">PRODUCTS</a></li>
        <li><a href="">R&D</a></li>
        <li><a href="">LINKS</a></li>
        <li><a href="">SITEMAP</a></li>
        <li><a href="contact us.html">CONTACT</a></li>
      </ul>
    </div>
    
    <div class="social">
        <a href="https://linkedin.com"><img src="../images/Ico_in.png" alt="in"></a>
        <a href="https://www.instagram.com"><img src="../images/Ico_inst.png" alt="inst"></a>
        <a href="https://www.youtube.com"><img src="../images/Ico_tube.png" alt="youtube"></a>
        <a href="https://twitter.com"><img src="../images/Ico_tw.png" alt="twitter"></a>
        <a href="https://facebook.com"><img src="../images/Ico_fb.png" alt="facebook"></a>
    </div>      
  </div>
  <p>AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</p>
</div>

</body>
</html>